apiVersion: v1
kind: Secret
metadata:
  name: banking-secret
  namespace: default
type: Opaque
stringData:
  mysql-url: "CHANGE_ME_MYSQL_URL"
  mysql-user: "CHANGE_ME_MYSQL_USER"
  mysql-password: "CHANGE_ME_MYSQL_PASSWORD"
  ollama-url: "CHANGE_ME_OLLAMA_URL"
  jwt-secret: "CHANGE_ME_LONG_RANDOM_256_BIT_SECRET"
